### Node template
# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# parcel-bundler cache (https://parceljs.org/)
.cache

# nuxt.js build output
.nuxt

# Nuxt generate
dist

# IDE / Editor
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Vim swap files
*.swp

# Service worker
sw.*

# Mac OSX
.DS_Store

# Storybook
storybook/static
